<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统登陆</title>
    <script type="text/javascript" src="../static/js/jQuery/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../static/js/layer/layer.js"></script>
    <script type="text/javascript" src="../static/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../static/js/commonmethod.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/default/css.css" />
    <script language="javascript" type="text/javascript">
        //登录函数
       function Login(){
           var password = $("#txtPassword").val();
           var userName = $("#txtUserName").val();
           $.ajax({
               url:"/confirm/",
               type:"post",
               dataType:"json",
               success:function(data){
                   if(data.result=="true"){
                       alert("成功");
                   }
                   else {
                       alert(data.msg);
                   }
               }
           });
           //var desKey=Math.random(0,1000000);
           //$.ajax({
           //    url:"/config/GetRsaPubKey",
           //    type:"get",
           //    success:function(data){
           //    }
           //});
       }

       function TextBlur(obj){
           var a=$(obj).val();
debugger;
            if($(obj).val()){//有数据时，将提示信息设为隐藏
                debugger;
                $(obj).next().css("display","none");
            }
            else{//无数据时，将提示信息设为显示
                debugger;
                $(obj).next().css("display","");
            }
       }

       $(function(){
           $("#tbMain").css("height",$(window).height()-25).css("width",$(window).width());

       })

    </script>
</head>
<body>
 {% csrf_token %}
    <table id="tbMain" cellpadding="0" cellspacing="0" border="0" style="height: 100%; width: 100%;padding-top: 0px;background-size:100% 100%; background: url(/static/images/login/login_bg.jpg) no-repeat;">
        <tr>
            <td style="width: 333px; padding-left: 0px;">
                <table border="0" style="width: 100%; height: 120px; margin-top: 100px;margin-left:-30px;" cellpadding="8">
                    <tr>
                        <td style="text-align: right; vertical-align: middle; width: 40%">
                            <span style="color: #464a89; font-size: 12px;">用户名</span>:
                        </td>
                        <td align="left">
                            <input type="text" maxlength="15" Style="border: 1px solid #71779b; width:118px; height: 20px" id="txtUserName" onblur="TextBlur(this)"  />
                            <span style="display:none; color: red">用户名必填</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; vertical-align: middle">
                            <span style="color: #464a89; font-size: 12px;">密&nbsp;&nbsp;码</span>:
                        </td>
                        <td align="left">
                            <input type="password" maxlength="15" style="border: 1px solid #71779b; width:118px; height: 20px" id="txtPassword" onblur="TextBlur(this)"/>
                            <span style="display:none; color: red">密码必填</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td height="20" style="height: 20px">
                            <input type="button" onclick="Login()" style="background: url(../static/images/login/login_button.jpg) no-repeat;border: 0px; width: 89px; height: 28px; border-width: :0px;"  />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>